h1 { font-size: 6em; }
p{ font-size: 2em; }

.content {
	position: relative;
	top: 25%;
	transform: translateY(-60%);
	text-align: center;
}

/* Section 1
	* --------------------------------------- */
.section, .slide {
  background-size: cover;
  
  h1 { color: #444; }
  
  p { color: #333; opacity: 0.4; }

}
