---
layout: default
---
<div class="album text-muted">
  <div class="container">
    <div class="row">
      {% assign url = site.imgdir %}  
      {% for item in (1..set.qty) %}
      {% assign set = page.imgCollection %}          
      <div class="card">
        <img data-src="{{ item | prepend: set.id }}" alt="{{ item.alt }}">
          <p class="card-text">{{ item.content }}.</p>
        </div>
      {% endfor %}
      </div>
      <section class="row">
        {{ content }}
      </section>
    </div>

  
